# Face Counting Challenge

- We have to count the faces from the images provided

<img src="face_count.png" style="width:800px;height:400px;">

In [1]:
#Importing libraries
from mtcnn.mtcnn import MTCNN
import cv2,os
import numpy as np
import pandas as pd
import matplotlib.image as mpimg
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
train = pd.read_csv("bbox_train.csv")

In [3]:
"""
Finding unique images names from the train sets
"""
unique_train_images = []
for img in (set(train['Name'])):
    unique_train_images.append(img)

In [4]:
img_names = os.listdir("image_data")
img_dir = os.path.join("image_data")

In [5]:
test_set = pd.read_csv("test.csv")

In [6]:
test_set.head()

        Name
0  10005.jpg
1  10009.jpg
2  10015.jpg
3  10022.jpg
4  10023.jpg

In [7]:
"""
Appending all the images name in test_images list
"""
test_images=[]
for img in list(test_set["Name"]):
    test_images.append(img)

In [8]:
print(len((test_images)))

2463

In [20]:
"""
Using mtcnn to detect faces from the images
"""
mt = MTCNN()
head_count=[]
test_imgs=[]
for img in test_images:
    test_imgs.append(img)
    bbox=[]
    image = os.path.join("image_data",img)
    image = cv2.imread(image)
    mtfaces = mt.detect_faces(image)

    for face in mtfaces:
        #print(face)
        x,y,w,h = face['box']
        x2 = x+w
        y2 = y+h
        #fc = image[y:y2, x:x2]
        bbox.append((x,y,x2,y2))

    head_count.append(len(bbox))

In [21]:
#Checking the length of both images and the face counts
print(len(test_imgs))
print(len(head_count))

2463
2463

In [22]:
sub = pd.DataFrame({"Name": test_imgs, "HeadCount":head_count})

In [23]:
sub.head(10)

        Name  HeadCount
0  10005.jpg          2
1  10009.jpg          2
2  10015.jpg          2
3  10022.jpg          4
4  10023.jpg          4
5  10024.jpg          3
6  10025.jpg          5
7  10029.jpg          5
8  10030.jpg          4
9  10033.jpg          2

In [24]:
sub.to_csv("sub.csv", index=False)